.dados{
    display: flex;
    margin-left: 40px;
}
.zona{
    width: 90%;
    margin-top: 20px;
}
.top_flex{
    margin-top: 5px;
    display: flex;
}
.top_img{
    position: relative;
}
.top_img_img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.zona_right{
    margin-left: 10px;

}
.edit{
    position: absolute;
    top: 0;
    right: 0;
}
.edit_img_img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 3px;
}
.edit_img_img:hover{
    border: 1px solid #65b5f6;
    padding: 2px;
    background-color: #65b5f695;
}
.edit_img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 3px;
    margin-left: 2px;
    margin-top: 2px;
}
.edit_img:hover{
    border: 1px solid #65b5f6;
    padding: 2px;
    background-color: #65b5f695;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.edit_area{
}
.edit_area_flex{
    display: flex;
}
.input_flex{
    display: flex;
    margin-top: 5px;
}
.input{
    width: 288px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px;
}
.inputLong{
    width: 400px;
    font-size: 1rem;
    font-weight: 600;
    height: 95%;
    border: none;
    border-left: 1px solid #ccc;
    margin-left: 10px;
    background-color: white;
    padding-left: 5px;
}

.inputShort{
    width: 200px;
    font-size: 1rem;
    font-weight: 600;
    height: 95%;
    border: none;
    border-left: 1px solid #ccc;
    margin-left: 10px;
    background-color: white;
    padding-left: 5px;
}

.form_group{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    height: 40px;
    background-color: #65b5f633;
    display: flex;
}

.wrongIban_form_group{
    border: 1px solid red;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    height: 40px;
    background-color: #65b5f633;
    display: flex;
}
.leftThing{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input:focus{
    outline: 1px solid #65b5f6;
}
.inputLong:focus{
    outline: 1px solid #65b5f6;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input_noedit{
    width: 400px;
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 600;
}
.zona_bottom{
    width: 100%;
    margin-top: 10px;
}
.helper{
    height: 100%;
}
.helper > div {
    height: 100% !important;
}
.helper > div > input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem !important;
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.numberInput > input:focus {
    outline: 1px solid #65b5f6;
    border: none;
}
.numberInputWrong{
    outline: 1px solid red;
    border: 1px solid red;
    border-radius: 5px;
}

.tituloZona{
    
}



