

.previous_voltar{
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 3px 3px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12);
    display: flex;
    height: 80px;
    padding-left: 3%;
    background-color: white;
    cursor: pointer;
}
.previous_voltar:hover{
    background-color: #ffffff50;
}
.previous_symbol{
    width: 25px;
    height: 25px;
    align-self: center;
}
.previous_voltar_text{
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
}
.reserva{
    height: 100%;
    width: 90%;
    position: relative;
    margin: auto;
    overflow-x: auto;
}
.top_top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top_left{
    display: flex;
    flex-direction: column;
    width: 55%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-between;
    background-color: white;
}
.top_left_top{
    display: flex;
    flex-direction: column;
}
.top_right{
    width: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    height: fit-content;
    max-height: fit-content;
}
.map_div{
    margin-top: 10px;
    height: 150px;
    margin: auto;
    width: 90%;
}
.map_pointer{
    height: 80px;
    width: 80px;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 50%;
    border: 4px solid var(--action);
    background-color: #FF785A50;
}
.top_desc_text{
    margin-top: 20px;
    font-weight: 600;
}
.top_desc{
    margin-top: 5px;
    text-align: left;
    color: var(--brand);
    width: 70%;
    font-size: 1rem;
}
.top_date{
    font-size: 0.6rem;
    color: #406367;
}

.top_right_user{
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}
.user_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user_info_name{
    font-weight: 400;
}
.user_info_number_symbol{
    font-size: 1rem;
    background-color: var(--action);
    padding: 5px;
    border-radius: 50%;
    align-self: center;
}
.user_info_number{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--brand);
    margin-left: 10px;
    align-self: center;
}
.top_right_div{
    display: flex;
    margin-top: 20px;
}
.top_right_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.reserva_top{
    display: flex;
    margin-top: 20px;
    height: fit-content;
}
.top_img_wrapper{
    width: 150px;
    height: 150px;
    border: 5px solid var(--brand);
    display: flex;
}
.top_img{
    width: 120px;
    height: 120px;
    align-self: center;
    margin: auto;
}
.top_text{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 50%;
}
.text_name{
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: 3px underline var(--action);
    text-underline-offset: 2px;
}
.text_name_tbd{
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: 1px underline var(--action);
    text-underline-offset: 2px;
    font-style: italic;
}
.photos{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.action{
    color: var(--action);
}
.underline{
    text-decoration: underline;
    font-weight: 500;
}
.text_desc{
    min-height: 80px;
    font-size: 1rem;
}
.text_desc_tbd{
    font-size: 1rem;
}
.middle{
    margin-top: 15px;
}
.top_title{
    font-size: 1.8rem;
    color: var(--brand);
    font-weight: 600;
    align-self: flex-start;
    display: inline-block;
    margin-top: 5px;
    text-transform: uppercase;
}
.middle_title{
    font-size: 1.5rem;
    color: var(--brand);
    font-weight: 600;
    align-self: center;
    display: inline-block;
}
.middle_button_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button_area{
    width: fit-content;
    display: flex;
    align-content: center;
}
.button_proceed{
    height: 35px;
    display: flex;
    border: 5px solid transparent;
    border-bottom: none;
    border-radius: 5px;
    padding: 0 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: -1;
    margin-bottom: -5px;
}
.button_proceed_text{
    align-self: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
.button_cancel_area{
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
    padding: 5px;
    border: 1px solid var(--action);
    color: var(--brand);
    border-radius: 2px;
}
.button_cancel_area:hover{
    color: var(--neutral);
    background-color: var(--action);
    transition: 150ms;
}
.button_cancel{
    height: 45px;
    width: 45px;
}
.details{
    display: flex;
    align-items: center;
}
.details_id{
    font-size: 0.6rem;
    color: var(--brand);
    opacity: 0.8;
    margin-right: 20px;
}

.middle_date_info{
    position: absolute;
    right: 0;
    bottom: -20px;
    color: #00000090;
    font-style: italic;
    font-size: 0.8rem;
}
.middle_main{
    background-color: var(--brand);
    border: 5px solid transparent;
    border-radius: 5px;
    border-top-right-radius: 0px;
    position: relative;
}
.middle_top{
    position: relative;
}
.middle_check{
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 120px !important;
    height: 120px !important;
    color: white;
}
.middle_pendent_frontdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: #00000095;
    display: flex;
}
.middle_front_text{
    color: #ffffff;
    align-self: center;
    margin: auto;
    font-size: 5rem;
    font-weight: 600;
}
.middle_flex{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: 3rem;
    margin-top: 10px;
}
.middle_aux_text_wrapper{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.middle_aux_text{
    color: var(--action);
    font-size: 0.9rem;
    text-transform: uppercase;
    align-self: flex-start;
}
.middle_aux_text_minor{
    color: var(--action);
    font-size: 0.9rem;
    text-transform: uppercase;
}
.middle_day{
    display: flex;
}
.middle_day_text{
    color: var(--neutral);
    font-weight: 600;
    text-transform: uppercase;
    align-self: flex-end;
}
.hours_flex{
    display: flex;
    color: var(--neutral);
    font-weight: 600;
    text-transform: uppercase;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: var(--brand);
    margin: 20px auto;
}
.hours_start{

}
.hours_divide{
    margin: 0 5px;
}
.hours_end{}
.middle_worker{}
.worker_img{}
.worker_text{}
.middle_info{
    width: 90%;
    margin: auto;
}
.middle_info_grey{
    width: 90%;
    margin: auto;
}
.middle_info_zone{
    border-left: 3px dashed var(--neutral);
}
.middle_desc{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid var(--brand);
    resize: none;
    font-size: 0.9rem;
    padding: 2px;
    font-family: inherit;
    z-index: -1;
    font-weight: 600;
    border: 2px solid var(--brand);
    color: var(--neutral);
}
.middle_aux_symbol{
    color: var(--action);
    height: 25px;
    width: 25px;
    align-self: center;
}
.middle_info_divider{
    width: 50px;
    height: 3px;
    background-color: var(--neutral);
    margin: 15px 0;
}
.middle_info_flex{
    display: flex;
    padding: 0 5px;
    flex-direction: column;
}.middle_info_flex_hor{
    display: flex;
    padding: 0 5px;
}
.middle_info_text{
    color: var(--neutral);
    font-size: 1.2rem;
    margin-left: 10px;
}
.middle_info_text_worker{
    color: #ffffff70;
    font-size: 1.2rem;
    margin-left: 10px;
    text-decoration: underline;
    text-decoration-color: #1EACAA;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    align-self: center;
}
.middle_info_text_worker_simple{
    color: var(--neutral);
    font-size: 1.2rem;
    margin-left: 10px;
    font-style: italic;
}
.middle_info_money{
    color: #1EACAA;
    font-size: 30px;
}
.middle_info_money_disabled{
    color: #414B55;
    font-size: 22px;
}
.color_important{
    color: #00000050 !important;
}
.desc{
    width: 100%;
    
}
.middle_location{}
.bottom{
    width: 100%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 5px;
    display: inline-block;
}
.bottom_flex{}
.money{}
.money_label{}
.money_value{}
.details{}
.bottom_por_confirmar_text{
    margin-bottom: 5px;
    font-size: 1rem;
    display: inline-block;
}
.bottom_button{
    width: 100%;
    height: 60px;
    border-bottom: 5px solid var(--brand);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    -webkit-box-shadow: 0px 6px 8px -6px rgba(0,0,0,0.5); 
    box-shadow: 0px 6px 8px -6px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    cursor: pointer;
}
.bottom_button_disabled{
    width: 100%;
    height: 60px;
    display: flex;
    cursor: default;
    -webkit-box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.5); 
    box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.5);
}
.bottom_button:hover{
    -webkit-box-shadow: 0px 6px 8px 4px rgba(0,0,0,0.5); 
    box-shadow: 0px 6px 8px 4px rgba(0,0,0,0.5);
    transition: 200ms;
}
.button_text{
    font-size: 3rem;
    font-weight: 600;
    margin: auto;
    align-self: center;
    text-transform: uppercase;
    color: var(--brand);
}

.button_cancel_area_bottom{
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid var(--action);
    color: var(--brand);
}
.button_cancel_area_bottom:hover{
    color: var(--neutral);
    background-color: var(--action);
    transition: 150ms;
}
.button_cancel_bottom{
    font-size: 1.5rem;
    margin: auto;
    align-self: center;
    text-transform: uppercase;
}
.confirmar_text_highlight{
    text-transform: uppercase;
    color: var(--brand);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--action);
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
}
.info_flex{
    display: flex;
    margin-left: 30px;
    cursor: pointer;
    align-items: flex-start;
}
.info_flex:hover > span {
    color: #ffffff80;
}
.info_icon{
    color: var(--neutral);
    width: 10px !important;
    height: 10px !important;
    margin-left: 1px;
}
.info_icon_text{
    color: var(--neutral);
    text-decoration: underline;
    margin-left: 2px;
    font-size: 0.8rem;
}
.year_small{
    font-size: 0.8rem;
}
.blank{
    width: 90%;
    margin: auto;
}
.blank_flex{
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.blank_text{
    align-self: center;
    font-size: 2rem;
    font-style: italic;
    color: #00000070;
}
.blank_face{
    width: 100px !important;
    height: 100px !important;
    align-self: center;
    color: #00000070;
    margin-top: 20px;
}

.blank_request{
    margin: 60px auto;
    font-size: 0.9rem;
}
.blank_request_click{
    color: var(--action);
    text-decoration: underline;
    cursor: pointer;
}
.blank_request_click:hover{
    opacity: 0.6;
}

.previous_wrapper{
    display: flex;
    flex-direction: column;
}

.previous_text{
    font-style: normal !important;
    color: var(--brand);
    font-weight: 500;
}
.previous_date{
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 0.5;
}
.previous_text{
    align-self: center;
    font-style: italic;
}


@media (max-width: 1024px){
    .top_title{
        font-size: 1.4rem;
    }
    .previous_voltar_text{
        font-size: 1.4rem;
    }
    .text_name{
        font-size: 1.4rem;
    }
    .text_name_tbd{
        font-size: 1.4rem;
    }
    .text_desc{
        font-size: 0.8rem;
        width: 80%;
    }
    .text_desc_tbd{
        font-size: 0.8rem;
        width: 80%;
    }
    .button_proceed{
        height: 25px;
    }
    .button_proceed_text{
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    .middle_front_text{
        font-size: 4rem;
    }
    .button_text{
        font-size: 2rem;
    }
    .bottom_por_confirmar_text{
        font-size: 0.8rem;
    }
    .middle_aux_text{
        font-size: 0.7rem !important;
    }
    .middle_flex{
        font-size: 2.2rem;
    }
    .middle_aux_text_minor{
        font-size: 0.6rem;
    }
    .middle_info_text{
        font-size: 0.9rem;
    }
    .middle_info_money_disabled{
        font-size: 18px;
    }
    .middle_info_text_worker{
        font-size: 1rem !important;
    }
    .middle_info_text_worker_simple{
        font-size: 1rem;
    }
    .info_icon_text{
        font-size: 0.6rem;
    }
    .info_icon{
        width: 7px !important;
        height: 7px !important;
    }
}

@media (max-width: 900px){
    .blank_text{
        font-size: 1.5rem;
    }
    .blank_request{
        font-size: 0.8rem;
    }
    .middle_flex{
        font-size: 1.8rem;
    }

}

@media (max-width: 768px){
    .blank_text{
        font-size: 1.2rem;
    }
    .middle_front_text{
        font-size: 3rem;
    }
    .middle_flex{
        font-size: 1.4rem;
    }
}