@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.subscription{
    color: var(--brand);
    overflow-x: auto !important;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}
.subscription_title{
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 80px;
    background-color: white;
}
.top_title{
    font-size: 1.8rem;
    color: var(--brand);
    font-weight: 600;
    align-self: center;
    text-transform: uppercase;
    margin-left: 3%;
}
.mid{
    margin: auto;
    padding: 20px;
    padding-top: 20px;
    width: 90%;
    background-color: white;
    box-sizing: border-box;
    overflow-x: scroll;
}
.mid_content{
    width: 600px;
    margin: auto;
}
.display{
    width: 100%;
    background-color: #6EB24190;
    border-radius: 5px;
}
.display_top{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.subtitle{
    margin: 20px 0 10px 0;
    font-size: 1.3rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}
.subtitle_sub{
    margin: 10px 0 5px 0;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    align-self: flex-start;
    color: #ccc;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 5px 0;
}
.display_user{
    display: flex;
}
.user_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.user_top_flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user_name{
    font-size: 1.2rem;
    color: black;
}
.user_desc{
    color: white;
    font-weight: 600;
}
.display_right{
    margin-left: 20px;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.display_right_icon{
    width: auto !important;
    height: 30px !important;
    border-radius: 50%;
    color: var(--check);
    padding: 0px;
}
.display_right_text{
    font-size: 0.6rem;
}
.display_sub{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
}
.sub_pre{
    color: white;
    font-size: 0.9rem;
}
.sub_val_date{
    font-size: 1rem;
    color: var(--action);
    text-transform: uppercase;
    font-weight: 600;
}
.plano_text{
    font-size: 0.9rem;
}
.plano_text_helper{
    color: #ccc;
    font-size: 0.8rem;
    font-style: italic;
}
.plano_text_val{
    font-weight: 600;
}
.details{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 380px;
}
.ver_planos{
    font-size: 0.6rem;
    text-decoration: underline;
    color: #0073C1;
    cursor: pointer;
}
.ver_planos:hover{
    opacity: 0.8;
}
.details_top{
    display: flex;
}
.details_area{
    width: 100%;
    margin: auto;
    display: flex;
}
.card{
    border-radius: 10px;
    padding: 20px 20px;
    width: 300px;
    /* background: rgb(254,137,147);
    background: linear-gradient(135deg, rgba(254,137,147,1) 0%, rgba(254,170,141,1) 100%); */
    background: rgb(255,120,90);
    background: linear-gradient(135deg, rgba(255,120,90,1) 0%, rgba(254,170,141,1) 100%);
    font-family: 'Gugi', cursive;
    margin-top: 30px;
}
.card_top{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.brand{
    height: 20px;
    width: auto;
}
.card_mid{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
}
.chip{
    height: 35px;
    width: auto;
}
.card_number{
    margin-top: 5px;
}
.card_number_value{
    color: white;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.289);
    font-size: 1.2rem;
}
.card_name_date{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.card_name{
    display: flex;
    flex-direction: column;
}
.name_helper{
    color: #ffffff50;
    font-size: 0.7rem;
}
.name_val{
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}
.details_right{
    margin-left: 20px;
}
.details_title{
    align-self: flex-start;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}
.right_sections_div{
    height: 190px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Gugi', cursive;
}
.right_section{
    display: flex;
    flex-direction: column;
}
.right_helper{
    color: #ccc;
    font-size: 0.8rem;
}
.right_section_short_div{
    display: flex;
    justify-content: space-between;
}
.right_section_short{
    display: flex;
    flex-direction: column;
}
.right_input{
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    padding: 5px 0;
}
.right_input::placeholder{
    color: var(--grey);
    opacity: 0.8;
    font-style: italic;
    font-size: 0.9rem;
}
.right_input_short::placeholder{
    color: var(--grey);
    opacity: 0.8;
    font-style: italic;
    font-size: 0.9rem;
}
.right_input:focus{
    border-color: var(--action);
}
.right_input_short:focus{
    border-color: var(--action);
}
.right_input_short{
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    width: 80px;
    padding: 5px 0;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
}
.button_add{
    width: 70%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--action);
    color: white;
    cursor: pointer;
}
.button_add:hover{
    opacity: 0.8;
}
.button_cancel{
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--background);
    margin-left: 10px;
    color: rgb(138, 138, 138);
    cursor: pointer;
}
.button_cancel:hover{
    opacity: 0.8;
}

.indicator_div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.indicator_subdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    cursor: pointer;
    position: relative;
}
.indicator{
    height: 3px;
    border-radius: 20px;
    width: 100%;
    background-color: #ccc;
}
.indicator_text{
    font-size: 0.7rem;
    color: #ccc;
}
.indicator_check{
    width: 20px !important;
    height: 20px !important;
    color: var(--action);
    position: absolute;
    top: -20px;
}

.plans{
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans_area{
    height: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.plans_title{
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}
.plans_sections{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 10px;
}
.section{
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ff785ae0;
    width: 32%;
    display: flex;
    flex-direction: column;
}
.section:hover{
    cursor: pointer;
    transition: 200ms;
    transform: scale(1.05);
}
.section_img{
    width: 40px;
    height: 40px;
    margin: 20px auto;
}
.section_type{
    font-weight: 700;
    margin: 0 auto;
    font-size: 1.5rem;
}
.section_type_desc{
    color: white;
    margin: 0 auto;
    font-size: 0.7rem;
    text-align: center;
}
.section_valor_div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
}
.section_valor_top{
    display: flex;
    color: var(--brand);
}
.section_valor_top_symbol{
    width: 15px !important;
    height: 15px !important;
}
.section_valor_top_number{
    font-size: 2rem;
    font-weight: 700;
}
.section_valor_top_number_decimal{
    font-size: 1rem;
    font-weight: 600;
}
.section_desc_of_pay{
    color: white;
    font-size: 0.7rem;
    margin: 0 auto;
}
.section_button{
    color: var(--action);
    margin: auto;
    border-radius: 20px;
    background-color: white;
    padding: 3px 10px;
}