@import '../index.css';

.worker{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--brand);
}
.flex{
    display: flex;
    width: 100%;
    height: calc(100vh - 68px);
}
.left{
    width: 200px;
    min-width: 200px;
    border-right: 1px solid #ffffff50;
    background-color: var(--brand);
    height: 100%;
}
.right{
    flex-grow: 1;
    overflow: hidden;
}
.worker_area{
    width: 100%;
}
.area_tabs_div{
    display: flex;
}
.tab{
    padding: 8px 15px;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    background-color: #65b5f691;
    cursor: pointer;
    color: white;
}
.selectedTab{
    padding: 8px 15px;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    background-color: #65b5f6;
    cursor: pointer;
    border-bottom: 5px solid #65b5f6;
    color: white;
    font-weight: 600;
}
.area{
    height: calc(100vh - 68px);
    overflow: hidden;
}

@media (min-width: 1024px) {
    .left{
        min-width: 250px;
        width: 250px;
    }
}


@media (max-width: 768px) {
    .left{
        flex: none;
        max-width: 50px;
        min-width: 0;
    }
}