@import '../index.css';

.workerSidebar{
    height: 100%;
    width: 100%;
    z-index: 0;
}
.sidebar_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 254px);
    overflow: hidden;
}
.worker_list{
    background-color: var(--brand);
    border-bottom: 1px solid #ffffff50;
    margin-top: 10px;
    align-self: flex-start;
    min-width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.align{
    width: 100%;
    display: flex;
    justify-content: center;
}

.worker_data_flex{
    display: flex;
    flex-direction: column;
}
.worker_img{
    margin-top: 10px;
    width: 130px;
    height: 130px;
    object-fit:cover;
    border-radius: 50%;
    border: 3px solid white;
}
.worker_img_icon{
    margin-top: 10px;
    width: 130px !important;
    height: 130px !important;
    background-color: white;
    border-radius: 50%;
}
.worker_personal_flex_column{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.name{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--neutral);
}
.rating_div{
    display: flex;
    border: 1px solid #a28400;
    border-radius: 5px;
    width: fit-content;
    padding: 1px;
    background-color: #fdd835;
}
.star{
    width: 15px;
    height: 15px;
}
.rating{
    margin-left: 5px;
    font-size: 0.7rem;
    font-weight: 600;
}
.button{
    background-color: #65b5f633 !important;
}
.button_special{
    background-color: #65b5f633 !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.button_special_nonselected{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.worker_list_bottom{
    border-top: 1px solid #ffffff50;
    align-self: flex-end;
    width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.prox_wrapper{
    display: flex;
    flex-direction: column;
}
.prox{
    font-size: 1rem;
    width: 120px;
}
.prox_aux{
    font-style: italic;
    color: white;
    margin-left: 30px;
    font-size: 0.7rem;
}
@media (max-width: 1200px){
    .prox{
        font-size: 0.9rem;
    }
    .prox_aux{
        margin-left: 25px;
    }
}

@media (max-width: 768px){
}