
.test{
    height: calc(100vh - 68px);
    position: relative;
    overflow-y: auto;
    background-color: var(--brand);
    border-top: 1px solid #ccc;
}
.previous_voltar{
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 3px 3px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12);
    display: flex;
    height: 80px;
    padding-left: 3%;
    background-color: white;
    cursor: pointer;
    position: fixed;
    z-index: 2;
}
.previous_voltar:hover{
    background-color: var(--background);
}
.previous_symbol{
    width: 25px;
    height: 25px;
    align-self: center;
}
.previous_voltar_text{
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
}
.normal_back{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    color: white;
}
.normal_back_left{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.normal_back_left:hover{
    border-bottom: 1px solid white;
}
.normal_back_right{
    display: flex;
    margin-left: 10px;
    font-size: 0.6rem;
    align-items: center;
}
.normal_back_right_dir{
    margin: 0 5px;
    text-decoration: underline;
    cursor: pointer;
}
.reserva{
    width: 80%;
    position: relative;
    margin: auto; 
}
.top_top{
    display: flex;
    justify-content: space-between;
}

.top_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    padding: 16px;
    margin-top: 20px;
    justify-content: space-between;
    background-color: white;
    position: relative;
    border: 4px solid transparent;
}
.top_left_indicator_more{
    position: absolute;
    right: 10px;
    top: 15px;
    display: flex;
    align-items: center;
}
.item_flex_indicator{
    display: flex;
    height: 25px;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
}
.more{
    cursor: pointer;
    color: var(--brand);
}
.more:hover{
    opacity: 0.6;
}
.dropdown{
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: white;
    width: calc(100%);
    margin-left: -40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 7px -3px #000000; 
    box-shadow: 0px 0px 7px -3px #000000;
    cursor: default;
    z-index: 2;
}
.dropdown_top{
    background-color: white;
    width: 100%;
    padding: 5px 2px;
    box-sizing: border-box;
}
.dropdown_top_text{
    color: #ccc;
    font-style: italic;
    padding: 5px;
}
.drop_div_symbol{
    font-size: 1rem;
}
.drop_div_main{
    width: 100%;
    cursor: pointer;
    padding: 5px 0;
}
.drop_div_main:hover{
    background-color: var(--action);

}
.drop_div_main:hover{
    color: white;
}
.drop_div{
    display: flex;
    justify-content: flex-start;
    width: 155px;
    margin: auto;
    padding: 5px;
    align-items: center;
}
.item_indicator{
    background-color: white;
    border-radius: 10px;
    height: 60%;
    width: 5px;
}
.item_type{
    margin-left: 5px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.top_left_top{
    display: flex;
    flex-direction: column;
}
.top_right{
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    height: fit-content;
    max-height: fit-content;
}
.map_div{
    margin-top: 10px;
    height: 150px;
    margin: auto;
    width: 90%;
}
.top_desc_text{
    margin-top: 20px;
    font-weight: 600;
}
.top_desc{
    margin-top: 5px;
    text-align: left;
    color: var(--brand);
    width: 100%;
    font-size: 1rem;
    white-space: pre-line;
}
.top_desc_no{
    margin-top: 5px;
    font-style: italic;
    font-size: 0.9rem;
    opacity: 0.6;
}
.top_date{
    font-size: 0.6rem;
    color: #406367;
}

.top_right_user{
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    font-size: 1.2rem;
}
.user_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user_info_name{
    font-weight: 400;
}
.user_info_number_symbol{
    font-size: 1rem;
    background-color: var(--action);
    padding: 5px;
    border-radius: 50%;
    align-self: center;
}
.user_info_number{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--brand);
    margin-left: 10px;
    align-self: center;
}
.top_right_div{
    display: flex;
    margin-top: 20px;
}
.top_right_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.text_name_tbd{
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: 1px underline var(--action);
    text-underline-offset: 2px;
    font-style: italic;
}
.location_div{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.location_pin{
    color: var(--action);
    justify-self: flex-start;
}
.location{
    font-size: 0.7rem;
    font-weight: 400;
}
.photos{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.no_photos{
    width: 120px !important;
    height: 80px !important;
    margin: auto;
    box-sizing: border-box;
}
.action{
    color: var(--action);
}

.top_title{
    font-size: 1.8rem;
    color: var(--brand);
    font-weight: 600;
    align-self: flex-start;
    display: inline-block;
    margin-top: 5px;
    text-transform: uppercase;
}

.button_cancel_area{
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
    padding: 5px;
    border: 1px solid var(--action);
    color: var(--brand);
    border-radius: 2px;
}
.button_cancel_area:hover{
    color: var(--neutral);
    background-color: var(--action);
    transition: 150ms;
}
.button_cancel{
    height: 45px;
    width: 45px;
}
.details{
    display: flex;
    align-items: center;
}
.details_id{
    font-size: 0.6rem;
    color: var(--brand);
    opacity: 0.8;
    margin-right: 20px;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: var(--brand);
    margin: 20px auto;
}
.message{
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.message_top_flex{
    display: flex;
    justify-content: space-between;
}
.message_left{
    display: flex;
}
.message_left_user_name{
    font-size: 1.2rem;
    font-weight: 600;
}
.message_textarea{
    width: calc(100% - 20px);
    height: 100px;
    border-radius: 5px;
    resize: none;
    border: none;
    background-color: var(--background);
    margin-top: 10px;
    padding: 10px 10px;
    font-family: inherit;
    font-size: 1.1rem;
    border-bottom: 2px solid transparent;
    color: var(--brand);
}
.message_textarea:focus{
    outline: none !important;
    border-bottom: 2px solid var(--action);
}
.message_textarea:hover{
    outline: none !important;
}
.message_enviar_div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.message_enviar{
    padding: 10px 15px;
    background-color: var(--action);
    border-radius: 4px;
    font-weight: 600;
    color: white;
    border: 4px solid var(--action);
}
.message_enviar:hover{
    background-color: white;
    color: var(--action);
    border: 4px solid var(--action);
    transition: 100ms;
    cursor: pointer;
}
.message_enviar_disabled{
    padding: 14px 19px;
    background-color: var(--background);
    border-radius: 4px;
    font-weight: 600;
    color: #ccc;

}
.previous_wrapper{
    display: flex;
    flex-direction: column;
}

.previous_text{
    color: var(--brand);
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 5px;
}
.previous_date{
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 0.5;
}

@media (max-width: 1024px){
    .top_title{
        font-size: 1.4rem;
    }
    .previous_voltar_text{
        font-size: 1.2rem;
    }
    .top_top{
        display: flex;
        flex-direction: column;
    }
    
    .top_left{
        margin: 10px 0;
        width: 100%;
        box-sizing: border-box;
    }
    .top_right{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 900px){
    .blank_text{
        font-size: 1.5rem;
    }
    .blank_request{
        font-size: 0.8rem;
    }

}

@media (max-width: 768px){
    .blank_text{
        font-size: 1.2rem;
    }
    .item_flex_indicator{
        font-size: 0.8rem;
    }
    .more{
        font-size: 1.4rem;
    }
}