@import '../index.css';

.reservation{
    width: 100%;
    border-top: 1px solid var(--brand);
    overflow: hidden;
}
.reservation::placeholder{
    font-style: italic;
}
.flex{
    display: flex;
    width: 100%;
    height: calc(100vh - 68px);
    background-color: var(--neutral);
}
.left{
    flex: 1 0 0;
    background-color: var(--brand);
    min-width: 150px;
}
.main{
    width: 100%;
    overflow-y: scroll;
    position: relative;
    background-color: var(--brand);
}

.reservar{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.reservar_upper{
    width: 100%;
}
.reservar_upper_title{
    font-size: 5rem;
    font-weight: 800;
    color: white;
    margin: auto;
    width: fit-content;
}
.reservar_upper_desc{
    color: #ffffff90;
}
.top{
    display: flex;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.top_left{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.left_img{
    width: 170px;
    height: 170px;
    margin: auto;
}
.left_select{
    z-index: 1;
    margin: auto;
    margin-top: 5px;
}
.top_right{
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.top_right_flex{
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
    position: relative;
}
.clear_time{
    position: absolute;
    right: 0;
    top: -7px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 600;
}
.clear_time:hover{
    text-decoration: underline;
}
.right_top_date{
    width: 50%;
    background-color: var(--brand);
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-top-left-radius: 0;
    /* border-bottom: 2px solid var(--action); */
}
.date_icon{
    width: 25px;
    height: 25px;
    color: var(--action);
    margin: auto;
}
.date_icon_wrapper{
    display: flex;
    flex-direction: column;
}
.date_icon_wrapper:hover > .date_icon{
    color: var(--neutral);
}
.date_icon_wrapper:hover > .info_text_dia_top{
    color: var(--neutral);
}
.info_text_dia_top{
    color: var(--action);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none !important;
}
.right_top_date_val{
    width: max-content;
    color: var(--neutral);
    margin: auto;
    border-bottom: 2px solid var(--action);
}

.right_top_date:hover > .right_top_date_val{
    color: var(--action);
}
.right_top_date:hover > .right_top_date_val_unselected{
    color: white;
    transition: 0.1s ease-in-out;
}
.right_top_date_val_unselected{
    width: max-content;
    color: var(--action);
    margin: auto;
}
.top_right_bottom_flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calendar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
}
.calendar_disabled{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.calendar_area{
    width: fit-content;
    margin: auto;
    margin-top: 150px;
    background-color: var(--brand);
    padding: 30px;
    border-radius: 10px;
    position: relative;
}
.calendar_x{
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: 600;
    color: var(--neutral);
    background-color: black;
    padding: 10px 15px 10px 15px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: #FF785A50;
}
.calendar_x:hover{
    background-color: var(--action);
}
.calendar_title{
    color: var(--neutral);
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: -10px;
}
.time_indicator{
    display: flex;
    margin-top: -10px;
    margin-bottom: 15px;
}
.time_indicator_text{
    color: white;
    font-size: 0.7rem;
}
.time_indicator_value{
    font-size: 0.8rem;
    color: var(--action);
    margin-left: 5px;
}
.calendar_div{
    margin-top: 5px;
}
.hour_div{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.hour_option{
    background-color: #fff;
    display: flex;
    padding: 10px 100px;
    cursor: pointer;
    border-bottom: 1px solid var(--brand);
    color: var(--action);
    font-weight: 600;
}
.hour_option:hover{
    background-color: #ff785a50;
}
.hour_option_val{
    margin: auto;
}
.arrow{
    position: absolute;
    bottom: -20px;
    left: calc(50% - 12px);
    color: var(--action);
}
.asterisc{
    color: var(--action);
}
.area_label{
    position: absolute;
    right: 2px;
    bottom: 2px;
    padding: 2px 5px;
    background-color: var(--neutral);
    border-top-left-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}
.area_label_wrong{
    position: absolute;
    right: 2px;
    bottom: 2px;
    padding: 2px 5px;
    border-top: 1px solid #F40009;
    border-left: 1px solid #F40009;
    border-top-left-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    z-index: 2;
}

.right_detailed_info{
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.back_cor{
    padding: 0 3px;
    color: var(--brand);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: var(--action);
    text-decoration-thickness: 1px;
}
.top_desc{
    width: 100%;
    position: relative;
    z-index: 0;
}
.top_input_short{
    border-radius: 5px;
    height: 35px;
    width: 400px;
    padding-left: 5px;
    font-size: 0.9rem;
    border-top-left-radius: 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--brand);
    border: none;
    border-bottom: 2px solid var(--brand);
}
.top_input_short:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 3px 3px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12);
}
.top_input_short:focus{
    outline: none !important;
}
input::placeholder{
    font-style: italic;
}
.diff_right{
    display: flex;
    flex-direction: column;
}
.diff_right_title{
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.top_desc_area{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    resize: none;
    border: none;
    font-size: 0.9rem;
    padding: 5px;
    font-family: inherit;
    z-index: -1;
    border-top-left-radius: 0;
    font-weight: 600;
    background-color: var(--background);
    color: var(--brand);
    border-bottom: 2px solid var(--brand);
    box-sizing: border-box;
}
.top_desc_area:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 3px 3px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12);
    outline: none !important;
}
.top_desc_area:focus{
    outline: none !important;
}
.top_desc_area::placeholder{
    font-style: italic;
}
.foto_div{
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.foto_area{
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-top-left-radius: 0;
    position: relative;
}
.foto_area_div_small{
    display: flex;
    flex-direction: column;
    position: absolute;
    right:5px;
    bottom: 5px;
    cursor: pointer;
}
.foto_symbol_small{
    width: 40px;
    height: 40px;
    align-self: center;
    color: var(--action);
}
.foto_symbol_small:hover{
    opacity: 0.5;
}
.foto_area_div{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px 0;
    cursor: pointer;
}
.foto_symbol{
    width: 40px;
    height: 40px;
    align-self: center;
    color: var(--action);
}
.foto_text{
    color: var(--action);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.foto_area_div:hover{
    opacity: 0.5;
}
.foto_img_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px 0;
}
.foto_img_wrapper_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border: 3px solid #FF785A50;
    width: 240px;
    height: 150px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff20;
}
.foto_symbol_add{
    color: var(--action);
    width: 50px !important;
    height: 50px !important;
    opacity: 0.5;
}
.foto_symbol_indicator{
    color: var(--action);
    text-transform: uppercase;
    opacity: 0.5;
}
.foto_img_wrapper_add:hover{
    opacity: 1;
    border-color: #FF785A;
}
.foto_img_wrapper_add:hover > .foto_symbol_add{
    opacity: 1;
}
.foto_img_wrapper_add:hover > span{
    opacity: 1;
}
.foto_img_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.foto_img_wrapper:hover > .frontdrop_helper{
    background-color: #00000090;
}
.foto_img_wrapper:hover > .foto_img_delete{
    opacity: 1 !important;
}
.helper_img_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.frontdrop_helper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.foto_img_delete{
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    margin: auto;
    left: calc(50% - 25px);
    opacity: 0;
    color: var(--action);
}
.foto_img{
    width: 240px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    align-self: center;
    border: 3px solid white;
}
.foto_img_number{
    color: white;
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
}
.foto_number{
    color: var(--brand);
    position: absolute;
    left: 4px;
    bottom: 4px;
    font-size: 0.8rem;
}
.area_label_inverse{
    position: absolute;
    padding: 2px 5px 1px 5px;
    background-color: var(--brand);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--neutral);
    right: 0px;
    bottom: 0px;
    z-index: 2;
    border: none;
    border-bottom: 2px solid transparent;
}
.devider{
    height: 2px;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}
.contact_area{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}
.bottom{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bottom_area{
    width: 48%;
    box-sizing: border-box;
}
.bottom_area_second{
    width: 48%;
    box-sizing: border-box;
}
.bot_title_wrapper{
    display: flex;
    align-items: center;
}
.bot_title_indicator{
    font-size: 1rem;
    border: 2px solid var(--action);
    border-radius: 50%;
    padding: 0 7px;
    margin-right: 2px;
    font-weight: 600;
    color: white;
}
.bot_title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}
.bot_input_div{
    position: relative;
    width: max-content;
    margin-top: 10px;
}
.bot_input_div_search{
    position: relative;
    width: max-content;
    margin-top: 10px;
    width: 550px;
    z-index: 3;
}
.bot_address_flex{
    position: relative;
    width: max-content;
    display: flex;
    z-index: 3;
}
.address_flex{
    display: flex;
}
.bot_input_short{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 250px;
    padding-left: 5px;
    font-size: 0.9rem;
    border-top-left-radius: 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--brand);
    border-bottom: 2px solid var(--brand);
}
.bot_input_short:disabled{
    background-color: var(--background);
    color: #ccc;
    border: none;
}
.bot_input_long:disabled{
    background-color: var(--background);
    color: #ccc;
    border: none;
}
.bot_input_short:disabled:hover{
    box-shadow: none;
}
.bot_input_long:disabled:hover{
    box-shadow: none;
}
.bot_input_short:hover{
    box-shadow: 0 1px 1px rgba(132, 132, 132, 0.12), 
    0 2px 2px rgba(132, 132, 132, 0.12), 
    0 3px 3px rgba(132, 132, 132, 0.12),
    0 4px 4px rgba(132, 132, 132, 0.12);
}
.bot_input_short:focus{
    outline: none !important;
}
.bot_input_long{
    border: none;
    border-bottom: 2px solid var(--brand);
    border-radius: 5px;
    height: 35px;
    width: 380px;
    padding-left: 5px;
    font-size: 0.9rem;
    border-top-left-radius: 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}
.top_input_short::placeholder{
    font-weight: 500;
}
.top_desc_area::placeholder{
    font-weight: 500;
}
.bot_input_short::placeholder{
    font-weight: 500;
}
.bot_input_long::placeholder{
    font-weight: 500;
}
.bot_input_long:hover{
    box-shadow: 0 1px 1px rgba(132, 132, 132, 0.12), 
    0 2px 2px rgba(132, 132, 132, 0.12), 
    0 3px 3px rgba(132, 132, 132, 0.12),
    0 4px 4px rgba(132, 132, 132, 0.12);
}
.bot_input_long:focus{
    box-shadow: 0 1px 1px rgba(132, 132, 132, 0.12), 
    0 2px 2px rgba(132, 132, 132, 0.12), 
    0 3px 3px rgba(132, 132, 132, 0.12),
    0 4px 4px rgba(132, 132, 132, 0.12);
    outline: none !important;
}
.bot_button{
    width: 100%;
    background-color: #26B282;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 60px;
    border-bottom: 4px solid white;
    margin-top: 40px;
    height: 60px;
}
.bot_button:hover{
    box-shadow: 0 1px 1px rgba(132, 132, 132, 0.12), 
    0 2px 2px rgba(132, 132, 132, 0.12), 
    0 4px 4px rgba(132, 132, 132, 0.12),
    0 8px 8px rgba(132, 132, 132, 0.12),
    0 16px 16px rgba(132, 132, 132, 0.12);
    transition: 0.1s ease-in-out;
}
.bot_button:hover > .bot_button_text{
    color: var(--brand);
    transition: 0.1s ease-in-out;
}
.bot_button_text{
    color: var(--neutral);
    padding: 10px;
    font-weight: 600;
    font-size: 1.4rem;
}
.bot_button_disabled{
    width: 100%;
    background-color: var(--background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    margin-bottom: 60px;
    cursor: default;
    margin-top: 40px;
    height: 60px;
}
.bot_button_text_disabled{
    color: #ccc;
    padding: 10px;
    font-weight: 600;
    font-size: 1.4rem;
}
.column_fix{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: -250px;

}
.sad_face{
    font-size: 1rem;
}
.address_not_allowed{
    width: 200px;
    border-radius: 5px;
    background-color: #F40009;
    color: var(--neutral);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    height: 35px;
}
.address_not_allowed_text{
    text-align: center;
    padding: 2px 10px;
    font-size: 0.8rem;
}



.left_title_area{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: flex-end;
}
.left_title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--neutral);
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--action);
}
.left_description_area{
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.left_description{
    color: var(--neutral);
    font-size: 0.7rem;
}
.left_list{
    width: 100%;
}
.list_element_div{
    margin-top: 10px;
}
.element_symbol{
    color: var(--neutral);
    margin-left: 2px;
}
.element_title{
    color: var(--neutral);
}
.action{
    color: var(--action);
}

.info{
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px;
}
.info_title{
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
}
.info_flex_wrapper{
    display: flex;
}
.info_flex{
    display: flex;
    width: fit-content;
    margin: 6px 0px;
}
.info_divider{
    height: 20px;
    background-color: var(--brand);
    margin: 0 10px;
    align-self: center;
    padding: 0 1px;
}
.info_icon{
    align-self: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.info_text{
    color: var(--brand);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: var(--action);
    text-decoration-thickness: 1px;
    align-self: center;
}
.info_text_dia{
    color: var(--action);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none !important;
}
@media (max-width: 1810px){
    .bot_input_div_search{
        width: 450px;
    }
}
@media (max-width: 1200px){
    .foto_img{
        width: 220px;
        height: 160px;
    }
    .foto_img_wrapper_add{
        width: 220px;
        height: 160px;
    }
    .bot_input_div_search{
        width: 400px;
    }
}
@media (max-width: 1080px){
    .address_not_allowed{
        width: 150px;
        height: 20px;
    }
    .address_not_allowed_text{
        font-size: 0.6rem;
    }
    .left_description{
        font-size: 0.8rem;
    }
    .left_title{
        font-size: 1.2rem;
    }
    .info_text_dia_top{
        font-size: 0.7rem;
    }
    .column_fix{
        right: -40px;
        padding: 4px;
        bottom: -50px;
    }
    .top_input_short{
        width: 250px;
    }
    .foto_img{
        width: 160px;
        height: 150px;
    }
    .foto_img_wrapper_add{
        width: 160px;
        height: 150px;
    }
    .bottom{
        flex-direction: column;
    }
    .bottom_area{
        width: 100%;
    }
    .bottom_area_second{
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 768px){
    .left_description{
        font-size: 0.7rem;
    }
    .info_text_dia_top{
        font-size: 0.5rem;
    }
    .contact_area{
        width: 100%;
    }
    .foto_img_div{
        flex-direction: column;
    }
    .foto_img_div{
        display: flex;
        flex-direction: column;
    }
    .foto_img{
        width: 300px;
        height: 150px;
    }
    .foto_img_wrapper_add{
        width: 300px;
        height: 150px;
    }
}

.transition{
    opacity: 0.2;
    background-color: orange;
  }
  .transition-enter-active {
    opacity: 1;
    background-color: black;
    transition: opacity 200ms;
  }
  .transition-exit {
    opacity: 1;
  }
  .transition-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }