.home{
    width: 100%;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: inset 0px 6px 10px -4px rgba(0,0,0,0.59); 
    box-shadow: inset 0px 6px 10px -4px rgba(0,0,0,0.59);
    position: relative;
    height: 100%;
}

.home_back{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
    height: calc(100vh - 68px);
    overflow-x: hidden;
    overflow-y: auto;
}
.home_back_top{
    height: 100%;
    max-height: 390px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--brand);
    position: relative;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    transition: background-color 300ms linear;
}
.text_brand{
    position: absolute;
    left: 20px;
    top: 20px;
    color: var(--background);
}
.text_title{
    margin: 0px auto;
    margin-top: 0px;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zone_img{
    background-color: white;
    border-radius: 50%;
    height: 120px !important;
    width: 120px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.zone_build_icon{
    color: var(--brand);
    width: 70px !important;
    height: 70px !important;
}
.zone_person_icon{
    color: var(--action);
    width: 70px !important;
    height: 70px !important;
}
.zone_image_prof{
    width: 70px !important;
    height: 70px !important;
}
.zone_image_region{
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
}
.zone_select{
    height: 50px;
    margin-top: 10px;
}
.zone_arrow_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.zone_arrow{
    height: 2px;
    border-top: 5px dashed var(--action);
    width: 80px;
    margin-top: 5px;
}
.zone_arrow_final{
    height: 2px;
    border-top: 5px solid var(--action);
    width: 50px;
    margin-top: 5px;
}
.zone_search{
    position: absolute;
    right: -190px;
    top: 0px;
    display: flex;
    align-items: center;
}
.zone_search_button{
    margin-left: 10px;
    padding: 20px 10px;
    background-color: var(--action);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.zone_search_button:hover{
    transform: scale(1.05);
    transition: 150ms;
}
.home_geral{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 100%;
}
.home_back_bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.home_explorar{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.5;
}
.home_back_publish{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.back_publish_title{
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.6;
}
.back_publish_div{
    margin-top: 5px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.back_publish_div_frontdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ddddddcc;
}
.back_publish_text{
    text-align: center;
}
.back_publish_button{
    margin-top: 20px;
    width: fit-content;
    background-color: var(--brand);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: 3px solid transparent;
    cursor: pointer;
}
.back_publish_button:hover{
    background-color: white;
    border: 3px solid var(--brand);
    color: var(--brand);
    transition: 150ms;
}

.back_publish_button_action{
    margin-top: 20px;
    width: fit-content;
    background-color: var(--action);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: 3px solid transparent;
    cursor: pointer;
}
.back_publish_button_action:hover{
    background-color: white;
    border: 3px solid var(--action);
    color: var(--action);
    transition: 150ms;
}

.home_title{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 15px 0 0 15px;
}
.section_spacer{
    height: 85%;
    width: 10px;
    background: rgb(22,31,40);
    background: linear-gradient(180deg, rgba(22,31,40,1) 0%, rgba(255,120,90,1) 100%);
    align-self: center;
    border-radius: 5px;
}
.section_one{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 46%;
}
.section_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
}
.section_content{
    height: fit-content;
    align-self: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    border-radius: 5px;
    max-height: 270px;
}
.section_button{
    padding: 10px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--brand);
    cursor: pointer;
    border: 3px solid transparent;
}
.section_button:hover{
    background-color: white;
    border: 3px solid var(--brand);
    transition: 150ms;
}
.section_button:hover > .section_title{
    color: var(--brand);
    transition: 150ms;
}
.section_title{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}
.section_button_right{
    padding: 10px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--action);
    cursor: pointer;
    border: 3px solid transparent;
    margin-bottom: 10px;
}
.section_button_right:hover{
    background-color: white;
    border: 3px solid var(--action);
    transition: 150ms;
}
.section_button_right:hover > .section_title_right{
    color: var(--action);
    transition: 150ms;
}
.section_title_right{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}
.section_image_text_title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--brand);
    margin-top: 5px;
    text-align: center;
}
.section_image_text{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
}
.section_image_wrapper{
    display: flex;
    justify-content: center;
}
.section_img{
    display: block;
    transition: 0.3s ease-in-out;
    color: var(--brand);
    width: 120px !important;
    height: 120px !important;
    padding: 0 0 10px 0;
}
.section_img_mini{
    display: block;
    transition: 0.3s ease-in-out;
    color: var(--brand);
    width: 50px !important;
    height: 50px !important;
    padding: 0 0 10px 0;
}

.back_bottom_trabalhador{
    width: 100%;
    background-color: #FF785Abb;
    margin-top: 80px;
}
.publish{
    display: flex;
    position: absolute;
    left: calc(50% - 175px);
    bottom: 15%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.publish_or{
    color: white;
    font-weight: 600;
    text-decoration: underline;
}
.publish_main{
    display: flex;
    width: 350px;
    background-color: var(--brand);
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5px;
    border: 4px solid white;
    cursor: pointer;
    flex-direction: column;
    position: relative;
}
.publish_main:hover{
    background-color: white;
    transition: 150ms;
}
.publish_main:hover > *{
    color: var(--brand);
}
.publish_text{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}
.publish_icon{
    color: white;
    position: absolute;
    right: 3px;
    top: 3px;
    height: 25px !important;
    width: 25px !important;
}

.worker_button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--action);
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    padding: 6px;
    z-index: 3;
    font-size: 0.8rem;
}
.worker_button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.skeleton_content_in_img{
    width: 50%;
    margin: auto;
    height: 200px;
    border-radius: 5px;
    display: block;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.skeleton_content_in{
    text-align: center;
    margin: 10px auto;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.skeleton_worker_botbanner{
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 3;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.skeleton_publish{
    position: absolute;
    left: calc(50% - 150px);
    bottom: 15%;
    width: 300px;
    height: 90px;
    border-radius: 5px;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.skeleton_tag{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.footer{
    width: 100%;
    border-top: 1px solid var(--grey);
    margin-top: 120px;
    padding-bottom: 20px;
}
.footer_div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.footer_div_1{}
.footer_div_2{
    margin: 0 50px;
}
.footer_div_3{}
.footer_div_text{
    font-weight: 700;
    cursor: pointer;
}
.footer_div_text:hover{
    text-decoration: underline;
}
.footer_icon_div{
    display: flex;
    margin-top: 5px;
}
.footer_icon{
    cursor: pointer;
}

@keyframes color {
    0% {
      background-color: var(--skeleton);
    }
    50% {
      background-color: #ccc;
    }
    100% {
      background-color: var(--skeleton);
    }
}

@media (min-width: 1440px){
    .section_img{
    }
    .section_title{
    }
    .section_title_right{
    }
    .section_image_text_title{
    }
    .section_image_text{
    }
    .home_back_top{
        
    }
    .home_back_bottom{

    }
    .section_content{
        max-height: 450px;
    }

    .zone_arrow{
        width: 130px;
        margin: 0 10px;
        margin-top: 20px;
    }
    .zone_arrow_final{
        width: 80px;
    }
    .zone_img{
        height: 140px !important;
        width: 140px !important;
    }
    .zone_person_icon{
        width: 90px !important;
        height: 90px !important;
    }
    .zone_image_prof{
        width: 90px !important;
        height: 90px !important;
    }
    .zone_build_icon{
        width: 90px !important;
        height: 90px !important;
    }
    .zone_image_region{
        font-size: 1.3rem;
    }
    .zone_search{
        right: -245px;
        top: 10px;
    }
    .zone_search_button{
        margin-left: 15px;
        padding: 25px 15px;
        font-size: 1.1rem;
    }
    .main{
        margin-top: 30px;
        transition: 200ms all;
    }
}

@media (max-width: 1024px){
    .zone_arrow{
        margin-top: -15px;
    }
    .zone_arrow_final{
        display: none;
    }
    .zone_img{
        height: 100px !important;
        width: 100px !important;
    }
    .zone_person_icon{
        width: 50px !important;
        height: 50px !important;
    }
    .zone_image_prof{
        width: 50px !important;
        height: 50px !important;
    }
    .zone_build_icon{
        width: 50px !important;
        height: 50px !important;
    }
    .zone_image_region{
        font-size: 0.9rem;
    }
    .zone_search{
        right: 238px;
        bottom: -300px;
    }
    .zone_search_button{
        margin-left: 0px;
        padding: 15px 8px;
        font-size: 0.9rem;
    }
    .main{
        margin-top: 20px;
        transition: 200ms all;
    }
    .home_back_top{
        min-height: 400px;
        max-height: 400px;
    }
}
