@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import '../index.css';

.navbar{
    background-color: white;
    flex: 0 1 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    width: 98%;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
}
.flex_end{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex_right{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.avatar{
    margin-right: 20px;
    cursor: pointer;
}
.flex_end_publicar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgb(255, 90, 0);
    padding: 0 20px;
    cursor: pointer;
}
.flex_end_publicar:hover{
    background-color: rgb(196, 68, 0);
    transition: 0.5s;
}
.publicar{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.user_login{
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
}
.chat_div{
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 20px;
}
.chat{
    color: var(--brand);
}
.chat_notification{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: 5px;
    background-color: var(--action);
}
.chat_div:hover > *{
    cursor: pointer;
    color: var(--action);
}
.back_publish_div_frontdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ddddddcc;
}
.user_button_disabled{
    margin-right: 20px;
    background-color: var(--brand);
    padding: 10px;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    position: relative;
}
.user_button{
    margin-right: 20px;
    background-color: var(--brand);
    padding: 7px;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid var(--brand);
}
.user_button:hover{
    background-color: white;
    transition: 150ms;
    color: var(--brand);
}
.user_login:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--action);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.user_login:hover:before {
    visibility: visible;
  transform: scaleX(1);
  }

.user_main{
    position: relative;
    align-self: flex-end;
    height: 33px;
}
.dropdown_invis{
    padding: 10px 0;
    background-color: transparent !important;
    width: calc(100% + 30px);
    margin-left: -40px;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-bottom: none;
    width: 160px;
}
.user:hover > * {
    color: var(--action);
}
.user_text{
    font-weight: 600;
    font-size: 1.1rem;
}
.user_dropdown{
    position: relative;
    background-color: white;
    width: calc(100% + 30px);
    margin-left: -40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.67); 
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.67);
    cursor: default;
    z-index: 5;
    border: 1px solid #ccc;
}


.user_main:hover > .user > *{
    color: var(--action);
}
.drop_user{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    width: 155px;
    margin: auto;
}
.drop_user_text{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--brand);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    text-align: left;
}
.user_icon{
    margin-right: 5px;
    color: var(--brand);
}
.drop_div_main{
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
}
.drop_div_main:hover{
    background-color: var(--action);
    color: white;

}
.drop_div_main:hover > * > * > *{
    color: white;
}
.drop_div{
    display: flex;
    justify-content: flex-start;
    width: 155px;
    margin: auto;
    padding: 5px;
}
.drop_div_special{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.drop_div_text{}
.off_icon{
    width: 20px !important;
    height: 20px !important;
    color: var(--yellow);
}
.on_icon{
    width: 20px !important;
    height: 20px !important;
    color: var(--check);
}
.drop_div_number{
    margin-left: 10px;
}
.drop_div_number_text{
    padding: 1px 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
    color: var(--brand);
    font-size: 0.9rem;
}
.drop_div_notification_big{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--yellow);
    align-self: center;
    border: 1px solid white;
    position: absolute;
    right: 35px;
    top: 0;

}
.drop_div_notification{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--action);
    align-self: center;
    margin-left: 20px;
    border: 1px solid white;
}
.drop_div_incomplete{
    color: var(--action);
    font-size: 0.6rem;
    text-decoration: underline;
    margin-left: 15px;
    margin-top: 3px;
}
.skeleton_button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.skeleton_message{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 20px;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.skeleton_text{
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--skeleton);
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
      background-color: var(--skeleton);
    }
    50% {
      background-color: #ccc;
    }
    100% {
      background-color: var(--skeleton);
    }
}