.blank{
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
}
.blank_flex{
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.blank_text{
    align-self: center;
    font-size: 2rem;
    font-style: italic;
    color: #00000070;
    text-align: center;
}
.blank_face{
    width: 100px !important;
    height: 100px !important;
    align-self: center;
    color: #00000070;
    margin-top: 20px;
}
.blank_face_small{
    width: 50px !important;
    height: 50px !important;
    align-self: center;
    color: #00000070;
    margin-top: 20px;
}
.button{
    margin: 20px auto;
    background-color: var(--action);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid var(--action);
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: var(--brand);
    transition: 200ms;
}
.blank_request{
    margin: 60px auto;
    font-size: 1rem;
    color: #00000070;
    font-weight: 500;
}
.blank_request_click{
    color: var(--action);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
.blank_request_click:hover{
    opacity: 0.6;
}
