.sidebar{
    height: 100%;
    width: 100%;
    z-index: 0;
}
.sidebar_workers{
    height: 100%;
    width: 100%;
    z-index: 0;
    background: rgb(255,120,90);
    background: linear-gradient(135deg, rgba(255,120,90,1) 0%, rgba(254,170,141,1) 100%);
}
.sidebar_jobs{
    height: 100%;
    width: 100%;
    z-index: 0;
    background: rgb(22,31,40);
    background: linear-gradient(135deg, rgba(22,31,40,1) 0%, rgba(50,66,80,1) 100%);
}
.sidebar_data_flex{
    display: flex;
    flex-direction: column;
}
.sidebar_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 248px);
    overflow: hidden;
}
.sidebar_icon_wrapper{
    width: fit-content;
    margin: auto;
}
.sidebar_top{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.sidebar_top_text{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.sidebar_top_icon{
    width: 150px !important;
    height: 150px !important;
    display: block;
    color: white;
    margin-top: -10px;
}
.sidebar_img{
    border-radius: 50%;
    object-fit: cover;
    width: 130px;
    height: 130px;
    margin-top: 10px;
}
.sidebar_img_icon{
    margin-top: 10px;
    width: 130px !important;
    height: 130px !important;
    background-color: white;
    border-radius: 50%;
}
.sidebar_list{
    background-color: var(--brand);
    border-bottom: 1px solid #ffffff50;
    margin-top: 10px;
    align-self: flex-start;
    min-width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.sidebar_list_bottom{
    border-top: 1px solid #ffffff50;
    align-self: flex-end;
    width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.prox{
    font-size: 1rem;
    width: 100px;
}

.align{
    width: 100%;
    display: flex;
    justify-content: center;
}
.name{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--neutral);
}
.button{
    background-color: #ffffff20;
}
.button_main{
    background-color: #ffffff30;
}
.button_main_trabalhadores{
    background: rgb(255,120,90);
    background: linear-gradient(135deg, rgba(255,120,90,1) 0%, rgba(254,170,141,1) 100%);
}
.button_main_trabalhadores:hover{
    background: rgb(255,120,90);
    background: linear-gradient(135deg, rgba(255, 120, 90, 0.75) 0%, rgba(254, 169, 141, 0.8) 100%);
}
.button_main_trabalhos{
    background: rgb(22,31,40);
    background: linear-gradient(135deg, rgba(22,31,40,1) 0%, rgba(50,66,80,1) 100%);
}
.button_main_trabalhos:hover{
    background: rgb(22,31,40);
    background: linear-gradient(135deg, rgba(22, 31, 40, 0.591) 0%, rgba(50, 66, 80, 0.559) 100%);
}
.thing{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 5px;
    align-items: center;
    justify-content: center;
}
.drop_div_notification{
    color: var(--action);
    right: 30px;
    top: 0;
    font-size: 0.6rem;
    text-decoration: underline;
}
.status{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    width: 90%;
    margin: 10px auto;
    position: relative;
}
.status_top{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.status_top_val{
    margin: 0 auto;
    color: var(--yellow);
    text-transform: uppercase;
    font-weight: 600;
}
.status_div{
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    border-bottom: 1px solid white;
    cursor: pointer;
}
.status_div_title{
    color: white;
    margin: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.status_div_flex{
    display: flex;
    margin: 5px auto;
    align-items: center;
}
.status_div_val{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.status_icon{
    color: white;
    margin-left: 5px;
}
.status_icon_rotate{
    color: white;
    margin-left: 5px;
    animation: rotation 2s infinite linear;
}
.off_icon{
    width: 20px !important;
    height: 20px !important;
    color: var(--yellow);
}
.on_icon{
    width: 20px !important;
    height: 20px !important;
    color: var(--check);
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@media (max-width: 1023px){
    .prox{
        font-size: 0.9rem;
    }
}
