.welcome_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand);
    z-index: 8;
}
.welcome{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(56,64,71);
    background: linear-gradient(180deg, rgba(56,64,71,1) 0%, rgba(22,31,40,1) 25%, rgba(3,5,6,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -300px;
    width: 100%;
}
.sub_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0px 3px 0px;
    /* border-top: 1px solid var(--grey); */
    /* border-bottom: 1px solid var(--grey); */
}
.sub_sub_main{
    /* background-color: var(--neutral); */
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    margin: 0 auto;
}
.title{
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 30px;
}
.sub_title_title{
    color: var(--neutral);
    font-size: 1rem;
    margin-top: -10px;
    margin-bottom: 10px;
}
.sub_title{
    color: var(--neutral);
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
}
.sub_title_special_job{
    color: var(--job);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem !important;
}
.sub_title_special_action{
    color: var(--action);
    font-weight: 700;
    text-transform: uppercase;
}
.sub_title_separator{
    text-align: center;
    margin: 0px;
    color: var(--grey);
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.main_inner{
    display: flex;
    justify-content: center;
}
.button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--job);
    font-weight: 600;
    cursor: pointer;
    transition: 150ms all;
    width: max-content;
    font-weight: 600;
    color: var(--neutral);
    text-align: center;
    font-size: 1.1rem;
    transition: 150ms all;
    margin: auto;
}
.button:hover{
    background-color: var(--neutral);
    color: var(--job);
}
.text_brand{
    width: 280px;
    /* height: 144px; */
    margin: auto;
    margin-bottom: -20px;
}
.sub_main_wrapper{
    height: 120px;
}
.button_wrapper{
    height: 30px;
    margin: auto;
    margin-top: 150px;
    transition: 150ms all;
    width: 100%;
}
.button_text{
    text-transform: uppercase;
}
.button_worker{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--action);
    font-weight: 600;
    cursor: pointer;
    transition: 150ms all;
    width: max-content;
    font-weight: 600;
    color: var(--neutral);
    text-align: center;
    font-size: 1.1rem;
    transition: 150ms all;
    margin: auto;
}
.button_worker:hover{
    background-color: var(--neutral);
    color: var(--action);
}
.button_separator{
    width: 100%;
    height: 1px;
    background-color: var(--neutral);
    opacity: 0.5;
    margin: 70px 0;
}

@media (max-width: 600px){
    .welcome{
        height: 100vh;
    }
    .button{
        width: 100%;
        padding: 8px 0;
        border-radius: 0px;
    }
    .button_worker{
        width: 100%;
        padding: 8px 0;
        border-radius: 0px;
    }
    .button_separator{
        margin: 50px 0;
    }
    .sub_sub_main{
        width: 80%;
        text-align: center;
    }
    .sub_title{
        font-size: 0.9rem;
    }
    .sub_title_special_job{
        font-size: 0.8rem !important;
    }
    .sub_title_special_action{
        font-size: 0.8rem !important;
    }
    .button_text{
        font-size: 0.8rem;
    }
    .text_brand{
        width: 200px;
    }
    .sub_title_separator{
        font-size: 0.7rem;
    }
    .main{
        margin-top: -200px;
    }
}