.banner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #00000090;
    z-index: 5;
    justify-content: center;
    align-items: center;
}

.popup{
    position: static;
    width: 550px;
    padding: 25px;
    margin-top: -150px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 6;
    -webkit-box-shadow: 0px 0px 6px -1px #000000; 
    box-shadow: 0px 0px 6px -1px #000000;
}

.value{
    align-self: left;
    font-size: 1.5rem;
    color: var(--action);
    font-weight: 600;
}
.divider{
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: var(--grey);
    margin: 5px auto;
}
.line{
    width: 100%;
    margin: 15px auto;
    display: flex;
    align-items: center;
}
.line_circle{
    font-size: 20px;
    align-self: flex-start;
    color: var(--action);
}
.helper_text{
    opacity: 0.5;
    margin-left: 3px;
    align-self: flex-start;
    min-width: 100px;
}
.line_text_div{
    width: 90%;
    margin: auto;
}
.line_text{
    text-align: left;
    align-self: center;
    margin-left: 5px;
    font-size: 1rem;
}
.action{
    color: var(--action);
}
.bold{
    font-weight: 600;
}
.confirm_button{
    margin: 20px auto 0 auto;
    width: 90%;
    background-color: var(--action);
    border: 2px solid transparent;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    color: white;
}
.confirm_button:hover{
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 150ms;
}
.cancel{
    margin: auto;
    margin-top: 10px;
    color: var(--grey);
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
}
.cancel:hover{
    opacity: 0.5;
    transition: all 150ms;
}