.group_label{
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
    display: flex;
}
.group_title{
    font-size: var(--standard);
    margin-left: 5px;
    color: #000000;
    font-weight: 600;
}
.group_icon{
    width: calc(var(--base-width-percent) * 0.8);
    height: auto !important;
    margin-left: -5px;
}
.label_profs{
    display: flex;
    align-items: flex-start;
    padding: 0.1vw 0;
    height: 100%;
    margin-left: calc(5px + calc(var(--base-width-percent) * 1));
}
.label_profs_active{
    background-color: var(--grey_background);
    border-radius: 4px;
    width: 100%;
}
.label_profs:hover{
    opacity: 0.8;
    transition: 150ms all;
}
.label_other_profs{
    font-size: var(--standard);
    font-weight: 700;
}
.label{
    display: flex;
    align-items: flex-start;
    padding: 0.1vw 0;
    padding-left: 5px;
    height: 100%;
    padding: 10px;
}
.label_active{
    background-color: var(--grey_background);
    border-radius: 4px;
}
.label:hover{
    opacity: 0.8;
    transition: 150ms all;
}
.label_img_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.label_img{
    width: 0.8vw !important;
    height: auto !important;
    min-width: 14px;
}
.label_other{
    font-size: var(--big);
}

.label_main_control{
    font-weight: 500;
    font-size: var(--big);
}
.arrow_downwards_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_downwards{
    width: 1.1vw !important;
    height: auto !important;
    color: var(--grey_text);
    min-width: 15px;
}
.label_main_wrapper{
    display: flex;
    align-items: center;
}
@media (max-width: 992px) {
    .label_main_control{
        display: none;
    }
}
.group_wrapper{
    cursor: default;
}
.group_wrapper_solo{
    height: fit-content;
    position: relative;
    width: 100%;
}
.group_wrapper_solo:hover{
    cursor: pointer !important;
    background-color: var(--grey_background);
    border-radius: 4px;
}
.customMenuList {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    overflow-y: hidden;
}
.customMenuList_column {
    flex: 1;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 4px 0;
}

.menu_wrapper{
    position: absolute !important;
    left: 5%;
    width: 90% !important;
    background-color: #fff;
    border-radius: 8px;
    margin-top: calc(max(0.65vw, 3px));
    height: max-content;
}
.menu{
    width: 90%;
    background-color: var(--neutral);
    border-radius: 8px;
}

.label_main{
    font-weight: 500;
    font-size: var(--big);
}
.label_desc{
    font-weight: 400;
    font-size: var(--standard);
    color: var(--grey_text);
    font-family: 'Montserrat', sans-serif !important;
    width: max-content;
    margin-top: 2px;
    /* Ensure the content doesn't wrap to the next line */
    white-space: nowrap;
    /* Hide overflow content */
    overflow: hidden;
    /* Add ellipsis (...) at the end when text overflows */
    text-overflow: ellipsis;
    width: calc(9vw);
    min-width: 100px;
}
.label_label{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--standard);
}
.label_label_profs{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--standard);
    color: white;
}
.label_label_profs_small{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--small);
    color: white;
}
.label_img_profs{
    width: 20px !important;
    height: 20px !important;
}
.label_label_online{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--standard);
    color: var(--green);
}
.label_online{
    display: flex;
    align-items: center;
    padding: 0 0;
    margin-right: 8px;
    font-size: var(--bigger);
    /* color: var(--job); */
    /* font-style: italic; */
}
.placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: left;
    font-size: var(--standard);
    margin: 0 !important;
}
.placeholder_desc{
    font-weight: 400;
    white-space: nowrap;  /* Prevent text wrapping */
    overflow: hidden;     /* Hide the overflow */
    text-overflow: ellipsis;  /* Show ellipsis (...) when text overflows */
    display: inline-block;  /* Ensure the span behaves like a block for width control */
    color: var(--grey_text);
}