.group_label{
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
    display: flex;
}
.group_title{
    font-size: 0.8rem;
    margin-left: 5px;
}
.group_icon{
    width: 15px !important;
    height: 15px !important;
    opacity: 0.7;
    margin-left: -5px;
}
.label{
    display: flex;
    align-items: center;
    margin-left: 2px;
    padding: 2px 0;
}
.label_img{
    width: 20px !important;
    height: 20px !important;
}
.label_value{
    color: black;
}
.label_label{
    font-weight: 600;
    margin-left: 5px;
    font-size: 0.8rem;
}
.label_label_online{
    font-weight: 600;
    margin-left: 5px;
    font-size: 0.8rem;
    color: var(--green);
}
.label_online{
    display: flex;
    align-items: center;
    margin-left: 2px;
    padding: 2px 0;
    /* color: var(--job); */
    /* font-style: italic; */
}