.group_label{
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
    display: flex;
}
.group_title{
    font-size: 0.8rem;
    margin-left: 5px;
}
.group_icon{
    width: 15px !important;
    height: 15px !important;
    opacity: 0.7;
    margin-left: -5px;
}
.label{
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 5px;
}
.label_profs{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;

    padding: 10px 0;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
.label:hover{
    opacity: 0.8;
    transition: 150ms all;
}
.label_profs:hover{
    opacity: 0.8;
    transition: 150ms all;
}
.label_img{
    width: 20px !important;
    height: 20px !important;
}
.label_main{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--big);
}
.label_desc{
    font-weight: 400;
    font-size: var(--standard);
    color: var(--grey_text);
    font-family: 'Montserrat', sans-serif !important;
}
.label_label{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--standard);
}
.label_label_profs{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--standard);
    color: white;
}
.label_label_profs_small{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--small);
    color: white;
}
.label_img_profs{
    width: 20px !important;
    height: 20px !important;
}
.label_label_online{
    font-weight: 500;
    margin-left: 5px;
    font-size: var(--standard);
    color: var(--green);
}
.label_online{
    display: flex;
    align-items: center;
    margin-left: 2px;
    padding: 10px 0;
    /* color: var(--job); */
    /* font-style: italic; */
}
.placeholder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    font-size: var(--standard);
    margin: 0 !important;
}
.placeholder_desc{
    font-weight: 400;
    white-space: nowrap;  /* Prevent text wrapping */
    overflow: hidden;     /* Hide the overflow */
    text-overflow: ellipsis;  /* Show ellipsis (...) when text overflows */
    display: inline-block;  /* Ensure the span behaves like a block for width control */
    color: var(--grey_text);
}