@import '../index.css';

.popup_backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 5;
}
.popup{
    position: absolute;
    width: 350px;
    padding-bottom: 15px;
    left: calc(50% - 150px);
    top: calc(50% - 350px);
    background-color: var(--brand);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    color: var(--neutral);
    box-shadow: 0 1px 1px rgba(237, 237, 237, 0.15), 
    0 2px 2px rgba(237, 237, 237,0.15), 
    0 4px 4px rgba(237, 237, 237,0.15), 
    0 8px 8px rgba(237, 237, 237,0.15);
    z-index: 6;
}
.value{
    padding: 2px;
    width: 90%;
    align-self: center;
    margin-top: 10px;
    font-size: 1.5rem;
}
.divider{
    width: 90%;
    margin: auto;
    border-top: 2px solid var(--action);
    margin: 5px auto;
}
.line{
    width: 90%;
    margin: 10px auto;
    display: flex;
}
.line_circle{
    font-size: 20px;
    align-self: center;
    color: var(--action);
}
.line_text_div{
    width: 90%;
    margin: auto;
}
.line_text{
    text-align: left;
    align-self: center;
    margin-left: 5px;
    font-size: 1.1rem;
}
.worker{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.help_text_val{
    font-size: 1.2rem;
    text-align: center;
    margin: 5px auto;
}
.help_text_bottom{
    font-size: 1rem;
    margin-top: 20px;
}
.help_text{
    width: 90%;
    margin: 10px auto;
}
.action{
    color: var(--action);
}
.action_touchable{
    color: var(--action);
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}
.action_touchable:hover{
    opacity: 0.6;
}
.back_cor{
    font-weight: 600;
}
.confirm_button{
    margin: 10px auto 0 auto;
    width: 90%;
    background-color: var(--brand);
    border: 2px solid var(--action);
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
}
.confirm_button:hover{
    background-color: var(--action);
    transition: 100ms all;
}
.cancel_text{
    margin: auto;
    font-size: 0.8rem;
    margin-top: 8px;
}
.cancel_text:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 200ms;
}
.confirm_button_pagar{
    margin: 10px auto 0 auto;
    width: 90%;
    background-color: var(--brand);
    border: 2px solid #1EACAA;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.confirm_button_pagar:hover{
    background-color: #1EACAA;
    transition: 100ms all;
}
.line_total{
    width: fit-content;
    color: #ffffff80;
}
.line_total_val{
    text-decoration: underline;
    text-decoration-color: #1EACAA;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    color: var(--neutral);
}

.confirm_button_support{
    margin: 5px auto 0 auto;
    width: 90%;
    background-color: var(--brand);
    border: 2px solid #ffffff;
    padding: 5px 0;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.confirm_button_support:hover{
    background-color: #ffffff20;
    transition: 100ms all;
}
.support{
    height: 20px;
    width: 20px;
    margin-left: 3px;
}
.list_item{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.list_item_left{
    display: flex;
}
.list_item_circle{
    width: 12px !important;
    height: 12px !important;
    align-self: center;
}
.list_item_number{
    font-size: 0.8rem;
    align-self: center;
}
.list_item_desc{
    font-size: 0.8rem;
    align-self: center;
    font-style: italic;
    margin-left: 8px;
}
.list_item_right{}
.list_item_value{
    align-self: center;
}