@import '../index.css';

.sessao{
    position: fixed;
    right: 40px;
    top: 60px;
    padding: 10px;
    max-width: 150px;
    text-align: center;
    background-color: var(--brand);
    color: var(--neutral);
    border-radius: 10px;
    border: 2px solid white;
    cursor: default;
    z-index: 10;
    font-weight: 600;
}

.sessao_text{

}