@import '../index.css';

.sessao{
    position: fixed;
    right: 40px;
    top: 60px;
    padding: 10px;
    max-width: 150px;
    text-align: center;
    background-color: var(--brand);
    color: var(--neutral);
    border-radius: 5px;
    border: 2px solid white;
    cursor: default;
    z-index: 20;
    font-weight: 600;
}

.sessao_text{

}


@media (max-width: 500px){
    .sessao{
        max-width: 120px;
        font-size: 0.8rem;
        top: 40px;
        z-index: 6;
        right: 30px;
    }
}