.wid-main{
    margin: auto;
    width: 90%;
}
.App{
    position: relative;
}

.frontdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    z-index: 10;
}   

@media screen and (max-width:991px){
    .wid-main{
        width: 98%;
    }
}

@media screen and (min-width:990px){
    .wid-main{
        max-width: 1180px;
        width: 100%;
    }
}

@media screen and (min-width:1280px){
    .wid-main{
        max-width: 1180px;
        width: 94%;
    }
}

@media screen and (min-width:1440px){
    .wid-main{
        max-width: 1440px;
    }
}
