@import '../index.css';

.servicos{
    width: 100%;
    border-top: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}
.cor{
    color: var(--action);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: white;
    padding: 1px;
    border-radius: 5px;
}
.back_cor{
    background-color: white;
    padding: 1px;
    border-radius: 10px;
}
.flex{
    display: flex;
    height: calc(100vh - 68px);
    background-color: white;
}
.flex_right{
    flex: 6 0 0;
    background-color: #ddd;
    height: 100%;
}
.top{
    width: 100%;
    height: 40px;
}
.top_eletricistas{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(270deg, rgba(22,31,40,0.8122332859174964) 0%, rgba(22,31,40,1) 100%); */
    background-color: var(--brand);
    border-left: 1px solid var(--neutral);
}
.top_canalizadores{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(270deg, rgba(239,104,72,0.7965860597439545) 0%, rgba(239,104,72,1) 100%); */
    background-color: var(--brand);
    border-left: 1px solid var(--neutral);
}
.top_carpinteiros{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(270deg, rgba(255,156,81,0.8008534850640114) 0%, rgba(255,156,81,1) 100%); */
    background-color: var(--brand);
    border-left: 1px solid var(--neutral);
}
.main{
    width: 100%;
    height: calc(100% - 31px);
    background-color: #161f28;
    /* -webkit-box-shadow: inset 18px 18px 8px -17px rgba(0,0,0,0.46); 
    box-shadow: inset 18px 18px 8px -17px rgba(0,0,0,0.46); */
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 4;
}

.grid{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    z-index: 2;
}

.animGrid{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    z-index: 2;
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.box_case{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.num{
    width: 100%;
}
.num_flex{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.num_flex_content{
    display: flex;
    width: 150px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgb(138, 138, 138);
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 72%);    
    border-radius: 40px;
    justify-content: space-around;
}
.num_style{
    margin-top: 2px;
    font-weight: 600;
    font-size: 1.2rem;
}
.num_style_side{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 8px;
    cursor: pointer;
}
.arrow{
    cursor: pointer;
}
.arrow_num{
    display: flex;
}
.search_div{
    width: 100%;
    padding-left: 1.2%;
    position: fixed;
    display: flex;
    max-height: 40px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.644);
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid rgb(161, 161, 161);
    
}
.searchTop{
    width: 30%;
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid rgba(22,31,40,1);
    font-size: 1rem;

}
.searchTop::placeholder{
    color: rgb(131, 131, 131);
}
.searchTop:focus{
    outline: none;
    border: 1px solid var(--action);
    opacity: 1;
    color: black;
}
.searchTop:focus::placeholder{
    opacity: 0;
}

.search{
    width: 30%;
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid rgba(22,31,40,1);
    font-size: 1rem;
    opacity: 0.3;
}


.search:focus{
    outline: none;
    border: 1px solid rgba(22,31,40,1);
    opacity: 1;
    color: black;
}

.search:hover{
    outline: none;
    border: 1px solid rgba(22,31,40,1);
    opacity: 1;
    color: black;
    transition: opacity 0.3s;
}

.search:hover + .searchInfoDiv > .searchInfoScroll{
    opacity: 1;
    transition: opacity 0.3s;
}
.search_div:hover{
    background-color: white;
    transition: 0.3s;
}
.search_div:hover > .search{
    outline: none;
    border: 1px solid rgba(22,31,40,1);
    opacity: 1;
    color: black;
    transition: opacity 0.3s;
}
.search_div:hover > .searchInfoDiv > .searchInfoScroll{
    opacity: 1;
    transition: opacity 0.3s;
}
.search_div:focus{
    background-color: white;
    transition: 0.3s;
}
.search:hover + .search_div {
    background-color: white;
    transition: all 0.3s;
}

.search:focus::placeholder{
    opacity: 0;
}

.search:focus + .searchInfoDiv > .searchInfoScroll{
    opacity: 1;
}
.searchInfoDiv{
    display: flex;
    width: 30%;
    margin-left: 10px;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
}
.searchInfo{

}

.searchInfoScroll{
    opacity: 0.5;
}

/* LEFT */

.flex_left{
    flex: 1 0 0;
    max-width: 250px;
}
/*  */
.left_eletricistas{
    height: 100%;
    width: 100%;
    /* background: linear-gradient(0deg, rgba(22,31,40,0.8122332859174964) 0%, rgba(22,31,40,1) 100%); */
    background-color: var(--brand);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_canalizadores{
    height: 100%;
    width: 100%;
    /* background: linear-gradient(0deg, rgba(239,104,72,0.7965860597439545) 0%, rgba(239,104,72,1) 100%); */
    background-color: var(--brand);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_carpinteiros{
    height: 100%;
    width: 100%;
    /* background: linear-gradient(0deg, rgba(255,156,81,0.8008534850640114) 0%, rgba(255,156,81,1) 100%); */
    background-color: var(--brand);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left_spacing{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #fafafa;
}

.left_title{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fafafa;
    text-align: center;
}

.select{
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}
.left_area_calendar{
    position: relative;
}

.calendar_title{
    color: #fafafa;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 2.5%;
    margin-bottom: 5px;
}
.calendar_div{
    width: 95%;
    margin: auto;
}

.calendar_input{
    cursor: default;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 5px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.calendar_input_hora_start{
    cursor: pointer;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px dashed #ccc;
}
.calendar_input_hora_end{
    cursor: pointer;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.date_selected{
    color: var(--action);
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
}
.date_not_selected{
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
}

.calendar_new{
    width: 100% !important;
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.hour_div{
    position: relative;
    width: 100%;
    margin: auto;
}
.hour_arrow{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    transform: rotate(95deg);
}
.limpar{
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    text-align: end;
    color: white;
    text-decoration: underline;
    margin-top: 3px;
    cursor: pointer;
    width: auto;
}
.limpar:hover{
    color: #ddd;
}
.left_logo{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
}
.left_logo_img{
    width: 50px;
    height: 50px;
}



@media (max-width: 2600px){
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 2000px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1700px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(3, 1fr);
    }
    .searchInfoDiv{
        font-size: 1rem;
    }
}

@media (max-width: 1100px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .searchInfoDiv{
        font-size: 0.8rem;
    }
}


@media (max-width: 800px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .cor{
        font-size: 0.8rem;
    }
}