.servicos{
    width: 100%;
    height: calc(100vh - 67px);
    margin: 0 auto;
    border-top: 1px solid #ddd;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
}
.cor{
    color: var(--action);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: white;
    padding: 1px;
    border-radius: 5px;
}

.main{
    width: 95%;
    height: 100%;
    position: relative;
    z-index: 4;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    z-index: 2;
    margin-top: 10px;
}

.animGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    z-index: 2;
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
    margin-top: 10px;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.box_case{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    min-height: 180px;
}

.num{
    width: 100%;
}
.num_flex{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.num_flex_content{
    display: flex;
    width: 150px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 20px;
    justify-content: space-around;
}
.num_style{
    margin-top: 2px;
    font-weight: 600;
    font-size: 1.2rem;
}
.num_style_side{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 8px;
    cursor: pointer;
}
.arrow{
    cursor: pointer;
    background-color: var(--action);
    border-radius: 50%;
    color: white;
    padding: 5px;
    width: 20px !important;
    height: 20px !important;
    align-items: center;
}
.arrow_num{
    display: flex;
}
.search_div{
    width: 100%;
    padding-top: 10px;
}
.placeholder{
    display: flex;
    align-items: center;
}
.placeholder_icon{
    width: 20px !important;
    height: 20px !important;
}
.search_filter_div_wrapper{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.search_filter_div{
    width: 100%;
    display: flex;
}
.search_input_div{
    width: 100%;
    position: relative;
}
.search_clear{
    font-size: 0.8rem;
    color: var(--grey);
    font-style: italic;
    width: 150px;
}
.search_clear:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--brand);
}
.search_input_div_icon{
    position: absolute;
    width: 20px !important;
    height: 20px !important;
    top: calc(50% - 10px);
    left: 10px;
    color: #ccc;
}
.search_final_icon{
    position: absolute;
    right: 10px;
    top: calc(50% - 15px);
    background-color: var(--action);
    padding: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    width: 30px !important;
    height: 30px !important;
}
.search_final_icon:hover{
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 72%);    
    cursor: pointer;
    transition: 150ms;
}
.searchTop{
    width: 100%;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px solid transparent;
    color: #ccc;
    font-style: normal;
}
.searchTop::placeholder{
    color: #ccc;
}
.searchTop:focus{
    outline: none;
    border-bottom: 1px solid var(--action);
    opacity: 1;
    color: black;
}
.searchTop:focus + .search_input_div_icon{
    color: var(--brand);
}
.searchTop:focus::placeholder{
    opacity: 0;
}

.divider{
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin: 20px auto;
}
.top_info{
    display: flex;
}
.top_info_numbers{
    font-size: 1.5rem;
    font-weight: 600;
}
.top_info_filter{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}
.top_info_filter_flex{
    display: flex;
    margin-bottom: 2px;
}
.top_info_filter_icon{
    width: 15px !important;
    height: 15px !important;
    color: var(--brand);
}
.top_info_filter_text{
    font-size: 0.8rem;
    color: var(--brand);
    text-transform: uppercase;
}
.top_info_filter_value{
    color: var(--grey);
    font-size: 1.2rem;
    margin-left: 5px;
}
.top_info_filter_value_on{
    color: var(--action);
    font-size: 1.2rem;
    margin-left: 5px;
}
.top_info_filter_value{
    color: var(--grey);
    font-size: 1.2rem;
    margin-left: 5px;
}
@media (max-width: 2600px){
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 2000px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1700px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(3, 1fr);
    }
    .searchInfoDiv{
        font-size: 1rem;
    }
}

@media (max-width: 1100px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .searchInfoDiv{
        font-size: 0.8rem;
    }
}


@media (max-width: 800px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .cor{
        font-size: 0.8rem;
    }
}

@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .animGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    .cor{
        font-size: 0.7rem;
    }
}