@import '../index.css';

.auth{
    width: 100%;
    position: relative;
}
.auth_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 1;
}
.auth_top_text{
    font-size: 4rem;
    font-weight: 800;
    color: white;
    opacity: 0.2;
}
.auth_main{
    width: 100%;
    min-height: calc(100vh - 68px);
    border-top: 1px solid #ccc;
    background-color: var(--brand);
    display: flex;
    flex-direction: column;
    position: relative;
}
.auth_main_worker{
    width: 100%;
    min-height: calc(100vh - 68px);
    border-top: 1px solid #ccc;
    background-color: var(--brand);
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../assets/to_repeat2.png');
    background-position: left 120px top 0px; 
}
.area{
    padding-bottom: 20px;
    width: 400px;
    background-color: var(--neutral);
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}
.area_top{
    display: block;    
    border-bottom: 1px solid #161F2850;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.area_top ul{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
.area_top li{
    width: 50%;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.li_active{
    border-bottom: 3px solid var(--brand);
}
.li_active_worker{
    border-bottom: 3px solid var(--action);
}
.li_text{
    display: block;
    width: max-content;
    margin: auto;
    padding: 20px;
}
.li_text_active{
    display: block;
    width: max-content;
    margin: auto;
    padding: 20px;
    font-weight: 600;
    color: var(--brand);
}
.li_text_active_worker{
    display: block;
    width: max-content;
    margin: auto;
    padding: 20px;
    font-weight: 600;
    color: var(--action);
}

.area_top li:first-child .li_text:before{
    right: 0;
    left: auto;
}
.area_top li .li_text:before {
    width: 100%;
}
.area_top li .li_text:before {
    height: 3px;
    background: #002f34;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.5s ease-in-out;
}
.align_vert{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.area_bot{
    width: 80%;
    margin: auto;
}
.area_bot_wrapper{
    border-radius: 5px;
    border: 3px solid var(--brand);
    padding: 20px 10px;
    margin-top: 20px;
}
.area_bot_title{
    text-align: center;
    font-weight: 600;
    background-color: var(--job);
    padding: 5px;
    border-radius: 5px;
    color: var(--neutral);
}
.area_bot_title_helper{
    text-align: center;
    font-size: 0.9rem;
    color: var(--job);
    font-weight: 600;
    margin-top: 5px;
}
.area_bot_title_helper_mini{
    text-align: center;
    font-size: 0.8rem;
    color: var(--brand);
    font-weight: 400;
    font-style: italic;
}
.area_bot_intro{
    text-align: left;
    margin: 10px 0px;
    font-weight: 400;
    font-size: 0.9rem;
}
.area_bot_intro_strong{
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--brand);
}
.area_bot_intro_two_icon{
    width: 15px !important;
    height: 15px !important;
}
.area_bot_intro_wrapper{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;
}
.area_bot_intro_two{
    text-align: right;
    font-weight: 400;
    font-size: 0.9rem;
    width: 100px;
    margin-right: 5px;
}

.flag{
    width: 30px !important;
    height: 30px !important;
}
.area_bot_intro_strong_two{
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--grey);
    margin-left: 5px;
}
.area_bot_intro_icon{
    color: var(--brand);
    width: 20px !important;
    height: 20px !important;
}
.area_o2{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #161F2850;
    position: relative;
}
.o2_button{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    border: 3px solid var(--brand);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    background-color: white;
}
.o2_img{
    height: 25px;
    width: 25px;
}
.o2_text{
    font-weight: 600;
    width: 200px;
    margin-left: 10px;
    font-size: 1.1rem;
}
.ou{
    position: absolute;
    background-color: var(--neutral);
    width: 20px;
    height: 20px;
    padding: 5px 20px;
    bottom: -15px;
    left: calc(50% - 30px);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}
.login_div{
    width: 100%;
    margin-top: 40px;
}
.login{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login_title{
    font-size: 1rem;
    color: var(--grey);
    text-align: left;
    margin-bottom: 5px;
}
.register_title{
    font-size: 1rem;
    text-align: left;
    margin-bottom: 5px;
    width: max-content;
    background-color: var(--brand);
    padding: 3px 6px;
    border-radius: 5px;
    color: var(--neutral);
}

.login_input{
    padding: 15px 5px;
    border: none;
    background-color: var(--background);
    font-size: 1.1rem;
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid var(--neutral);
    font-family: 'Montserrat', sans-serif;
}
.login_input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid var(--brand);
}
.login_input::placeholder{
    color: #ccc;
    font-style: normal;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.recup_password{
    font-size: 0.9rem;
    font-weight: 600;
}
.recup_password:hover{
    text-decoration: underline;
    cursor: pointer;
}
.login_button_disabled{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(168, 168, 168);
    cursor: default;
    color: var(--neutral);
    height: 50px;
    display: flex;
    align-items: center;
}
.input_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid var(--brand);
    padding: 0 10px;
    border-radius: 5px;
    height: 50px;
}
.login_input_new{
    border: none;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
.login_input_new::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.input_wrapper_divider{
    height: 20px;
    width: 2px;
    background-color: var(--brand);
    margin: 0 10px;
}
.area_password{
    position: relative;
}
.area_password_min_wrapper{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    right: 5px;
}
.area_password_min_icon{
    width: 15px !important;
    height: 15px !important;
    margin-left: 2px;
}
.area_password_min{
    font-size: 0.7rem;
    margin-top: -2px;
}
.login_text{
    margin: auto;
    width: fit-content;
    font-weight: 600;
    font-size: 1.2rem;
}
.login_button{
    width: 100%;
    border-radius: 5px;
    background-color: var(--job);
    cursor: pointer;
    color: var(--neutral);
    height: 50px;
    display: flex;
    align-items: center;
}
.login_button:hover{
    opacity: 0.8;
    transition: 'opacity' 0.15s ease-in-out;
}
.login_button_voltar{
    width: 20%;
    border-radius: 5px;
    background-color: var(--brand);
    cursor: pointer;
    color: var(--neutral);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_button_voltar:hover{
    opacity: 0.8;
    transition: 'opacity' 0.15s ease-in-out;
}
.login_button_voltar_icon{
    color: var(--neutral);
    align-self: center;
    width: 30px !important;
    height: 30px !important;
}
.login_button_worker{
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--action);
    cursor: pointer;
    color: var(--neutral);
}
.login_button_worker:hover{
    background-color: white;
    color: var(--action);
    transition: 0.1s ease-in-out;
}
.field_error{
    font-size: 0.8rem;
    color: red;
    text-align: left;
    margin-top: 3px;
    align-self: flex-start;
}

.login_error{
    background-color: #ffe7e7;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.login_error_text{
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
    color: #d83232;
}

.bottom_switch{
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: right;
}
.bottom_switch_text{
    cursor: default;
}
.bottom_switch_button{
    cursor: pointer;
    font-weight: 600;

}
.bottom_switch_button:hover{
    text-decoration: underline;
}
.user_button{
    margin-right: 5px;
    font-weight: 600;
    background-color: var(--brand);
    border: 3px solid var(--brand);
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 3;
    font-size: 1rem;
    box-sizing: border-box;
    color: white;
}
.user_button:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--brand);
    transition: 150ms;
}
.worker_button{
    margin-right: 5px;
    font-weight: 600;
    background-color: var(--action);
    border: 3px solid var(--action);
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 3;
    font-size: 1rem;
    box-sizing: border-box;
    color: white;
}
.worker_button:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--action);
    transition: 150ms;
}
.button_area{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    bottom: 10px;
    right: 5px;
}
.buttons{
    margin-top: 20px;
}
.buttons_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.verification_zone{
    display: flex;
    width: 100%;
    justify-content: center;
}
.verification_zone_wrapper{
    margin: 0 auto;
    text-align: center;
}
.verification_title_helper{
    font-size: 0.8rem;
    color: var(--neutral);
    font-weight: 400;
}
.verification_title{
    font-size: 1.3rem;
    color: var(--job);
    font-weight: 600;
    margin-top: 5px;
}
.verification_desc{
    font-size: 1rem;
    color: var(--neutral);
    font-weight: 400;
    margin-top: 20px;
}
.verification_desc_strong{
    font-size: 1rem;
    color: var(--job);
    font-weight: 600;
}
.verification_button{
    display: flex;
    align-items: center;
    width: max-content;
    background-color: var(--job);
    padding: 15px 15px;
    color: white;
    margin: 100px auto 0 auto;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}
.verification_button:hover{
    opacity: 0.8;
    transition: 150ms ease-in-out;
}
.verification_button_helper{
    width: max-content;
    color: white;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
}
.verification_button_helper:hover{
    opacity: 0.8;
    transition: 150ms ease-in-out;
}
.verification_button_disabled{
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    height: 50px;
    padding: 0 15px;
    background-color: rgb(168, 168, 168);
    margin: 100px auto 0 auto;
    cursor: default;
    color: var(--neutral);
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}
.phone_input_wrapper{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5px;
    padding: 5px;
    border: 3px solid var(--job);
    border-radius: 3px;
    position: relative;
    z-index: 0;
    width: 290px;
    margin-top: 20px;
}
.main_code_placeholder{
    position:absolute;
    left:0;
    top:5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    width:100%;
    z-index:1;
}
.main_code_placeholder_value{
    color:#ffffff50;
    font-size:1.4rem;
    font-family: 'Roboto Mono', monospace;
}
.phone_input_title{
    font-size: 1rem;
    text-align: center;
    color: var(--job);
    font-weight: 600;
    margin-top: 30px;
}
.phone_input{
    outline: none;
    border: none;
    color: var(--neutral);
    font-size: 1.4rem;
    letter-spacing: 32px;
    font-family: 'Roboto Mono', monospace;
    caret-color: var(--job);
    overflow: hidden;
    margin-right: -35px;
    margin-left: 5px;
    z-index: 1;
    background-color: transparent;
}